/** @format */

.avatarSection {
  display: flex;
  margin-top: 30px;
  width: 20%;
  justify-content: center;
}
.contentSection {
  margin-top: 45px;
  margin-left: 20px;
  text-align: start;
}

.contentSection h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}
.contentSection span {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: gray;
}
.contentSection p,
li {
  font-size: 1em;
  margin-bottom: 5px;
  color: gray;
}
