.Colis .t{
    display: flex;
    align-items: center;
    background-color: rgb(168, 168, 224);
}
.Colis img{
   width:50%;
   height: 20%;
}
.Colis .t h1{
    position: relative;
}


h5{
    color: rgb(145, 145, 185);;
}

.B{
    display:flex;
    justify-content: center;
    align-items: center; 
}
.CRUDcolis{
    display: flex;
    justify-content: center;
    align-items: center; 
}

