.rendezvous{
    background-color: rgb(250, 253, 255);;
}
.rendezvous .Date {
    display: flex;
    margin-right: 15px;
}
.rendezvous .confirmer{
    display: flex;
}
.rendezvous .b {
    display:flex;
    justify-content: center;
    align-items: center;
}
.rendezvous img{
    width: 100%;
}
.CRUDrendez-vous{
    display:flex;
    justify-content: center;
    align-items: center;
}