/** @format */

.connexion {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connexion img {
  width: 35%;
}
.connexion .Fcnx {
  padding: 20px;
  align-items: center;
  width: 100%;
  background: rgba(31, 38, 135, 0.1);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
