/** @format */

.bannercontainer {
  position: relative;
  top: 10px;
  height: 20vh;
  width: 100%;
  backgroundd-color: #091244;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_section {
  width: 50%;
  text-align: start;
}
.text_section span {
  font-size: calc(14px + 2vmin);
  color: #091244;
}

.text_section p {
  font-size: calc(3px + 2vmin);
  color: #091244;
}

.picture_section {
  width: 50%;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.picture_section img {
  width: 35%;
  height: 35%;
  display: block;
  border-radius: 50%;
}
