/** @format */

.landing-page-main {
  background-color: #091244;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(12px + 2vmin);
  color: white;
}

.main_text_container {
  width: 40%;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-page-header-image {
  width: 50%;
  font-size: calc(10px + 2vmin);
}

.landing-page-header-image img {
  width: 100%;
  height: auto;
}

.main_text_container img {
  width: 20%;
  height: auto;
  border-radius: 30px;
}

.action_section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* @media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
